<%- include partials/header.ejs %>

<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/"><img id="logo" src="../images/logo.png">Landscape</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <% if (isAuthenticated) { %>
          <li class="nav-item centered-link-b2">
            <button type="button" class="btn-addPictures btn btn-outline-info"><a class="addPicturesLink nav-link" href="/upload">Add Pictures</a></button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile"><%= username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
        <% } %>  
      </ul>
      <form class="form-inline mt-2 mt-md-0">
      </form>
    </div>
  </nav>
</header>

<div class="wrraper container-fluid picturesGallery">
<div class="gallery container-fluid">
  <div class="row">
    <% userPictures.forEach(function (picture) { %>
      <div class="col-xl-4 col-lg-6 col-md-12 centered-picture">
          <h5><%= picture.title %></h5>
          <div class="pictures-imageDiv">
            <a href="/picture/<%= picture.id %>">
              <img class="img-gallery" src=<%= picture.path %>>
            </a>
            <div class="pictures-overlay-icons">
              <div class="div-icon">                
                <a href="/pictures/<%= picture._id %>/likes"><img class="pictures-icon like-icon" src="/images/like.png" alt="like-icon"></a>
                <div class="number like-number"><%= picture.measures.likes.amount %></div>
              </div>
              <div class="div-icon">
                <a href="/pictures/<%= picture._id %>/hearts"><img class="pictures-icon heart-icon" src="/images/heart.png" alt="heart-icon"></a>
                <div class="number heart-number"><%= picture.measures.hearts.amount %></div>
              </div>
              <div class="div-icon">
                <img class="eye-icon" src="/images/eye.png" alt="eye-icon">
                <div class="number eye-number"><%= picture.measures.views.amount %></div>
              </div>
            </div>
          </div>  
        </div>
    <% }) %>  
  </div>
</div>

<%- include partials/footer.ejs %>